<div class="wrapper">
  <h1>About Us</h1>
  <br /><br />
  <p>
    Welcome to <i>Grace &amp; Garments</i>, a chic boutique where each piece is
    more than just clothing—it&#39;s a moment, a memory and a way to express
    yourself. Each item in our collection is crafted with care, designed for
    those who seek both elegance and a touch of charm.
  </p>
  <br />
  <p>
    Our range of garments draws inspiration from the runway while remaining
    approachable and stylish for everyday wear. Whether you&#39;re looking for
    something graceful or bold, each piece carries its own unique story and
    personality. For instance, our “Let&#39;s Dance” is perfect for nights
    filled with joy, while “Embroidered Elegance” offers a refined and timeless
    appeal. Every item is created to be worn gracefully. You&#39;re guaranteed
    to look oh so chic!
  </p>
  <br />
  <p>
    At Grace &amp; Garments, we believe that fashion should feel as good as it
    looks. Our collection ranges from playful designs like “Cutesy” and “Sugary
    Sweet” to sophisticated pieces like “Socialite” and “Fairytale.” Each
    product has its own special name, a reflection of the love and creativity
    poured into it, ensuring that you&#39;ll feel truly special every time you
    wear it.
  </p>
  <br />
  <p>
    Our customers are at the heart of everything we do. We craft every outfit
    with the intention that it becomes a staple in your wardrobe—something you
    turn to again and again. Whether it&#39;s “The 1800s Called” for a
    vintage-inspired day, or “Petal&#39;s Envelopment” for a touch of elegance,
    we hope you&#39;ll find that perfect piece to complement your own style.
  </p>
  <br />
  <p>
    Thank you for choosing Grace &amp; Garments, where every product is a
    reflection of beauty, grace individuality. Discover your next favourite
    outfit and embrace the confidence, comfort and warmth that comes with
    wearing something truly special.
  </p>
</div>
