// override the PrimeNG theme styles

/*
.p-rating-cancel-item {
  display: none;
}
*/

.p-rating-cancel {
  display: none;
}

// mark invalid fields with red borders
input.ng-invalid {
  border: 1px solid red;
}
