<div class="wrapper">
  <h1>About Us</h1>
  <br />
  <p class="custom-text">You are loved | You are chosen</p>
  <br /><br />
  <p>
    Welcome to <i>Grace &amp; Garments</i>, a chic boutique where each piece is
    a moment, a memory and a way to express yourself. Each item in our
    collection is crafted with tender love and care. We design for those yearn
    to partake in the kiss of charm.
  </p>
  <br />
  <p>
    Our range of garments draws inspiration from the runway, with the goal of
    staying stylish in everyday wear. You&#39;re guaranteed to look oh so chic!
    Whether you&#39;re looking for something delicate or bold, each piece has
    it&#39;s own personality that&#39;s sure to harmonise with yours. For
    instance, our “Let&#39;s Dance” piece is the perfect item for a rhythmic
    night, while “Embroidered Elegance” offers a timeless appeal. Every item is
    created to be worn with grace. That said, keep your heads high, ladies,
    you&#39;re sure to make others' turn!
  </p>
  <br />
  <p>
    At <i>Grace &amp; Garments</i>, we believe that fashion should feel as good
    as it looks. Our collection ranges from playful designs like “Cutesy” and
    “Sugary Sweet” to sophisticated pieces like “Socialite” and “Fairytale.”
    Each item has its own special name, a reflection of the endearment poured
    into it. We only hope that you&#39;ll feel as special as you are and as good
    as you look as you wear our carefully—crafted garments — or a fraction of it
    at least, since the fact of the matter is that you really are incomparable!
  </p>
  <br />
  <p>
    You are at the heart of everything we do. We craft each and every item with
    the intention of it becoming a staple in your wardrobe — something you turn
    to again and again, something you find comfort and familiarity in. Whether
    it&#39;s “The 1800s Called” for a funky throwback party or “Petal&#39;s
    Envelopment” for a theatre production, we hope that you&#39;ll find your
    pieces. If you don&#39;t immediately see <i>the one</i> for you in our
    posted collection, we urge you to reach out and view our private range. Or,
    even better, contact us about custom pieces! &lt;3
  </p>
  <br />
  <p>
    <i>Grace &amp; Garments</i> clients stick together so you&#39;ve got a whole
    network of girls&#39; girls to support you on your journey of artistic
    expression! Browse our collection and let your next favourite outfit find
    you :&#41;

    <span class="custom-notice">
      *Finding <i>the one</i> and not making it yours leads to a longing that
      could only be cured by said lover&#39;s embrace — don&#39;t say we
      didn&#39;t inform you!
    </span>
  </p>
  <br /><br />
  <p class="custom-text">You are seen | You are heard</p>
</div>
